/* Estilos aplicables a todos los elementos del proyecto */

body {
  padding-top: 0px;
}

@media (min-width: 992px) {
  body {
    padding-top: 0px;
  }
}

h1 {
	font-family: 'kindergartenmedium';
	font-size: 70px;
}

h2, h3, h4 {
	font-family: 'kindergartenmedium';
}

h3{
  text-align: center;
  font-size: 30px !important;
  font-style: bold;
}

h2{
	font-size: 40px !important;
}

p{
	font-family: 'century gothic';
	color: black;
	font-size: 18px;
}

a{
	font-family: 'century gothic';
	color: #00ccff;
	font-weight: bold;
	font-size: 18px;
}

li {
	list-style: none;
	padding: 8px;
}

.izqPremios{
}

.derPremios{
  position: relative;
}

#noPremiosS, #noPremiosN{
  color: #A183A1 !important;

}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input{
	height: 50px !important;
}

/*estilos de alerta*/
.bg{
	width: 100%;
	height: 100%;
	float: left;
	position: fixed;
	background: rgba(0,0,0,.5);
	z-index: 9999999;
	display: none;
	justify-content: center;
}
	.ver-bg{
		display: block !important;
	}

	.ventana, .ventana{
		width: 70%;
		/*height: 200px;*/
		float: left;
		position: fixed;
		background: #8863eb;
		z-index: 9999999;
		margin-left: 15% !important;
    margin-left: 15% !important;
		/*left: -25%;*/
		/* display: none; */
		padding: 10px;
		padding-right: 20px;
		padding-left: 20px;
		box-sizing: border-box;
		text-align: center;
		color: white;
		border-radius: 5px;
		box-shadow: 0px 2px 18px 0px rgba(0,0,0,.7);
		top: -100%;
		transition: .9s ease-in-out;

	}
		.ver-ventana{
			display: block !important;
		}

		.ventana>h2, .ventana>h2{
			margin-top: 8px;
			margin-bottom: 8px;
			color: #E7DFF4 !important;
		}
		.ventana>p, .ventana>p{
			color: #E7DFF4 !important;
		}
/*fin estilos de alerta*/
