body {
	padding-top: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #7D59C7;
}

@media (min-width: 992px) {
  body {
  	padding-top: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #7D59C7;
  }
}

h1{
  color: #00ccff;
}

h2, h3, h4 {
  color: #00ccff;
  /*color: #dedbe0;*/
}

#username{
	width: 75% !important;
	margin-left: 12% !important;
	margin-right: 10% !important;
}

.contenidoPrinc{
	padding-top: 15px;
	position: relative;
	height: 270px;
}

.btn_login
{
  width: 200px !important;
	position: relative;
  /*margin-left: 38% !important;
	margin-right: 45% !important;*/
	margin-left: calc(30% - 50px) !important;
  background-color: #00ccff;
  border-style: none;
  font-family: 'century gothic';
  font-weight: bold;
  color: white;
  font-size: 20px;
}

#logoini{
  width: 100%;
}

#logoreg{
  width: 50%;
}

.formulario{
  width: 70%;
  margin: auto;
}

.txt_login{
  color: white;
}
