body {
	padding-top: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #7D59C7;
}

@media (min-width: 992px) {
  body {
  	padding-top: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #7D59C7;
  }
}

h1{
  color: #00ccff;
}

h2, h3, h4 {
  color: #00ccff;
  /*color: #dedbe0;*/
}

#username{
	width: 75% !important;
	margin-left: 12% !important;
	margin-right: 10% !important;
}

.contenidoPrinc{
	background: red;
	padding-top: 15px;
	position: relative;
	height: 270px;
}

.btn_login
{
  width: 200px !important;
	position: relative;
  margin-left: 38% !important;
	margin-right: 45% !important;
  background-color: #00ccff;
  border-style: none;
  font-family: 'century gothic';
  font-weight: bold;
  color: white;
  font-size: 16px;
}

#logoini{
  width: 75%;
}

#logoreg{
  width: 50%;
}

.formulario{
  width: 70%;
  margin: auto;
}

.txt_login{
  color: white;
}

/*estilos de alerta*/
.bg{
	width: 100%;
	height: 100%;
	float: left;
	position: fixed;
	background: rgba(0,0,0,.5);
	z-index: 9999999;
	display: none;
	justify-content: center;
}
	.ver-bg{
		display: block !important;
	}

	.ventana, .ventana{
		width: 66%;
		/*height: 200px;*/
		float: left;
		position: fixed;
		background: #8863eb;
		z-index: 9999999;
		margin-left: 8% !important;;
		/*left: -25%;*/
		/* display: none; */
		padding: 10px;
		padding-right: 20px;
		padding-left: 20px;
		box-sizing: border-box;
		text-align: center;
		color: white;
		border-radius: 5px;
		box-shadow: 0px 2px 18px 0px rgba(0,0,0,.7);
		top: -100%;
		transition: .9s ease-in-out;

	}

		.ver-ventana{
			display: block !important;
		}

		.ventana>h2, .ventana>h2{
			margin-top: 8px;
			margin-bottom: 8px;
			color: #E7DFF4 !important;
		}
		.ventana>p, .ventana>p{
			color: #E7DFF4 !important;
		}
/*fin estilos de alerta*/
