:root {
    --main-bg-color: coral;
    --color1: #FFFFFF;
    --color2: #ff1a1a;
    --color3: #47d147;
    --color4: #ff6699;
    --color5: #ffd11a;
    --color6: #006622;
    --color7: #000000;
    --color8: #734d26;
    --color9: #3333ff;
    --color10: #ff751a;
}

#izq1, #izq2{
	/*background-color: var(--color5);*/
	width: 110px;
	height: 110px;
	border-radius: 200px;
	border: 1px solid black;
}

#centro1, #centro2{
	background-color: white;
	width: 120px;
	height: 120px;
	border-radius: 200px;
	border: 1px solid black;

}

#der1, #der2{
	width: 110px;
	height: 110px;
	border-radius: 200px;
	border: 1px solid black;

}

#izq1 p, #der1 p, #centro1 p, #izq2 p, #der2 p, #centro2 p{
	text-align: center;
	vertical-align: middle;
	line-height: 110px;

}

#res{
  margin-left: 110px;
  margin-right: 110px;
  padding-left: 20px;
}

#n1, #n2{
  padding-left: 20px;
}

.divHijo {
    width:360px;
    margin: 0px auto;
}

#PreguntaM1, #PreguntaM2{
  color: black;
  font-size: 13px;
}

.formulario{
  width: 180px;
  margin: 0px auto;
}

.formulario2{
  width: 110px;
}

.btn_naipe
{
  width: 200px !important;
  /*margin-left: calc(37% - 50px) !important;*/
  background-color: #00ccff;
  border-style: none;
  font-family: 'century gothic';
  font-weight: bold;
  color: white;
  font-size: 16px;
}
