<!DOCTYPE html>
<html>

  <head>
    <title>Información - RegletApp!</title>
    <meta charset="utf-8">

    <!--BOOTSTRAP-->
    <link rel="stylesheet" type="text/css" href="styles/estilos3/bootstrap/css/bootstrap.css">
    <link href="styles/estilos3/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--COLLAPSE NAVBAR-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--HOJAS DE ESTILOS-->
    <link href="styles/estilos3/css/estilo_css.css" rel="stylesheet">
    <link href="styles/estilos3/css/index_estilo.css" rel="stylesheet">
    <!--<link href="styles/estilos3/css/navbar.css" rel="stylesheet">-->

    <!--FUENTES-->
    <link rel="stylesheet" type="text/css" href="styles/fuentes/kindergarten/stylesheet.css">
  </head>

  <body>

    <!-- Barra de navegación superior -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: #7D59C7;">
      <div class="navbar-header">
        <p class="navbar-brand"></p>
        <button type="button" style="float: left; border: 1px solid #00ccff;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Desplegar</span>
          <span class="icon-bar" style="background-color: #00ccff;"></span>
          <span class="icon-bar" style="background-color: #00ccff;"></span>
          <span class="icon-bar" style="background-color: #00ccff;"></span>
        </button>
        <a class="navbar-brand" id="navLink" style="color: #00ccff;" href="inicio.html">RegletApp!</a>
      </div>
      <!-- enlaces de navegación -->
      <div class="collapse navbar-collapse navbar-ex1-collapse" style="height: auto;">
        <ul class="nav navbar-nav navbar-right" style="height: auto;">
          <li>
            <a href="info.html" style="color: #00ccff;"><span class="glyphicon glyphicon-info-sign"></span>
              ¿Cómo funciona?
            </a>
          </li>
          <li>
            <a href="regletas.html" style="color: #00ccff;"><span class="glyphicon glyphicon-plus"></span>
              Sumas
            </a>
          </li>
          <li>
            <a href="naipes.html" style="color: #00ccff;"><span class="glyphicon glyphicon-remove"></span>
              Multiplicaciones
            </a>
          </li>
          <li>
            <a href="premios.html" style="color: #00ccff;"><span class="glyphicon glyphicon-education"></span>
              Mis Premios
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="../index.html" style="color: #00ccff;"><span class="glyphicon glyphicon-off"></span>
              <strong>Salir</strong>
            </a>
          </li>
        </ul>
      </div>

    </nav>




    <div class="container">
      <div class="row">

        <!-- Contenido Principal -->
        <div class="col-xs-1">
        </div>

        <div class="col-xs-10">
          <br><br>
          <h2 class="text-center">Regletas... ¿Qué?</h2>
          <br><br>

          <p class="text-center">
            Las reglas son simples, en el juego para sumar existen <strong>diez regletas</strong>, cada una con un valor del 1 al 10 y con un color diferente, lo que te ayudará a identificarlas más fácilmente.
          </p>
          <img src="imagenes/regletas.png" id="imgRegletas">

          <br><br>
          <p class="text-center">El juego consiste en formar combinaciones posibles que generen un resultado sumando los valores de las regletas.</p>
          <p class="text-center"><br>
            Por ejemplo, la regleta #10 es equivalente a dos regletas #5:
          </p><br>
          <img src="imagenes/ejemplo1.png" id="imgRegletas"><br>
          <p class="text-center">Es decir: <strong>5 + 5 = 10</strong>. <br>YAY!</p>
          <br><br><br><br><br>



          <h2 class="text-center">Naipes</h2>
          <br><br>

          <p class="text-center">
            Los naipes (en forma de círculo) usan los mismos valores y colores que las regletas, <strong>los dos naipes de los lados representan los números que se multiplican y el naipe central representa el resultado de la multiplicación</strong>.
          </p>
          <p class="text-center"><br>
            Por ejemplo, al unir un naipe #5 con un naipe #3 obtenemos un naipe de valor 15:
          </p><br>
          <img src="imagenes/ejemplo2.png" id="imgRegletas"><br>
          <p class="text-center">Es decir: <strong>5 x 3 = 15</strong>. <br>DOBLE YAY!</p>
          <br><br><br><br>



        </div>

      </div>
    </div>


    <!-- scripts de JavaScript -->
    <script src="styles/estilos/jquery/jquery.min.js"></script>
    <script src="styles/estilos/bootstrap/js/bootstrap.bundle.min.js"></script>



  </body>
</html>
